@import 'variables'; 

.btn-primary {
  background-color: $primary-color;
  border: none;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  width: 100%;
  border-radius: 4px;
  // position: absolute;
  // height: 40px;
  // left: 30px;
  // top: 889px;
  // transform: matrix(1, 0, 0, -1, 0, 0);
  margin-top: 514px;
}

