input, select {
  &.text {
    width:100%;
    margin: 8px 0px;
    padding: 16px 24px;
    border: 1px solid #EBEBEB;
    background-color: #f4f4f4;
    border-radius: 10px;
  }
}

label {
  font-size: 18px;
}

.form-title {
  font-size: 26px;
  font-weight: 800;
  line-height: 36px;
}

.field {
  margin-top: 60px;
}
